---
#========================================================================
# Copyright Universidade Federal do Espirito Santo (Ufes)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
# 
# This program is released under license GNU GPL v3+ license.
#
#========================================================================
services:

    dynamodb-local:
        build: .
        container_name: dynamodb-local
        working_dir: /home/dynamodblocal
        environment:
            AWS_ACCESS_KEY_ID: local
            AWS_SECRET_ACCESS_KEY: local
            AWS_DEFAULT_REGION: "us-west-2"
            AWS_PAGER: ""
            AWS_ENDPOINT_URL_DYNAMODB: "http://localhost:8000"
        volumes:
            - ./dbdata:/home/dynamodblocal/data
        ports:
            - "8000:8000"
        command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data"
        networks:
            - dynamo-net

    dynamodb-init:
        build: .
        container_name: dynamodb-init
        depends_on:
            - dynamodb-local
        volumes:
            - ./init:/init
            - ./dbdata:/home/dynamodblocal/data 
        environment:
            AWS_ACCESS_KEY_ID: local
            AWS_SECRET_ACCESS_KEY: local
            AWS_DEFAULT_REGION: "us-west-2"
            AWS_PAGER: ""
        entrypoint: ["/init/init.sh"]
        networks:
            - dynamo-net

    dynamodb-admin:
        image: aaronshaf/dynamodb-admin
        container_name: dynamodb-admin
        environment:
            DYNAMO_ENDPOINT: "http://dynamodb-local:8000"
            AWS_REGION: "us-west-2"
            AWS_ACCESS_KEY_ID: local
            AWS_SECRET_ACCESS_KEY: local
        depends_on:
            - dynamodb-local
        ports:
            - "8001:8001"
        networks:
            - dynamo-net

networks:
    dynamo-net:
        driver: bridge